<!-- ユーザーの「行きたいリスト」ページ -->
<!-- タブの３つめ -->

<div class="row">
  <div class="user-profile">
    <div class="icon text-center">
      <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
    </div>
    <div class="name text-center">
      <h1><%= @user.name %></h1>
    </div>
  </div>
  
  <div class="col-xs-10">
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">MAP</a></li>
      <li><a href="#">行ったリスト</a></li>
      <li><a href="#">行きたいリスト</a></li>
    </ul>
    
    <div class="map">
      ここに「行きたい」登録した店一覧を表示
    </div>
    
  </div>
  
</div>