<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>お気に入りのレストランを記録しよう</h1>
        <% unless logged_in? %>
          <%= link_to 'Foodie Mapを始める', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>