<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>

<%= form_for(:search, url: restaurants_path) do |f| %>
  <%= f.text_field :q %>
  <%= f.submit %>
<% end %>
<%#= link_to "検索する", restaurants_path, method: :post %>

<% if @rests %>
  <ul>
    <% @rests.each do |rest| %>
      <li><%= rest[:name] %></li>
    <% end %>
  </ul>
<% end %>